node_name = "{{ consul_node_name }}"
{% if consul_node_id | length > 0 and not consul_disable_host_node_id %}
node_id = "{{ consul_node_id }}"
{% endif %}
disable_host_node_id = {{ consul_disable_host_node_id | bool | lower }}

server = {{ consul_server | bool | lower }}
{% if consul_server and consul_server_name | length > 0 %}
# When provided, this overrides the node_name for the TLS certificate.
server_name = "{{ consul_server_name }}"
{% endif %}
{% if consul_server %}
bootstrap_expect = {{ consul_bootstrap_expect }}
ui = {{ consul_ui | bool | lower }}
{% endif %}

node_meta {
{% for key, value in consul_node_meta.items() %}
    "{{ key }}" = "{{ value }}"
{% endfor %}    
}

datacenter = "{{ consul_datacenter }}"

## Addresses ##
bind_addr = "{{ consul_bind_addr }}"
client_addr = "{{ consul_client_addr }}"

## Directories ##
data_dir = "{{ consul_data_dir }}"


retry_join = [ {{ consul_retry_join | map("to_json") | join(', ') }} ]
rejoin_after_leave = {{ consul_rejoin_after_leave | bool | lower }}
retry_interval = "{{ consul_retry_interval }}"
{% if consul_retry_join_wan is defined and consul_retry_join_wan | length > 0 %}
retry_join_wan = [ {{ consul_retry_join_wan | map("to_json") | join(', ') }} ]
{% endif %}
retry_interval_wan = "{{ consul_retry_interval_wan }}"

check_update_interval = "{{ consul_check_update_interval }}"

disable_http_unprintable_char_filter = {{ consul_disable_http_unprintable_char_filter | bool | lower }}
disable_remote_exec = {{ consul_disable_remote_exec | bool | lower }}
discard_check_output = {{ consul_discard_check_output | bool | lower }}
discovery_max_stale = "{{ consul_discovery_max_stale }}"

enable_local_script_checks = {{ consul_enable_local_script_checks | bool | lower }}
{% if consul_encrypt is defined and consul_encrypt | length > 0 %}
encrypt = {{ consul_encrypt }}
{% endif %}
encrypt_verify_incoming = {{ consul_encrypt_verify_incoming | bool | lower }}
encrypt_verify_outgoing = {{ consul_encrypt_verify_outgoing | bool | lower }}
disable_keyring_file = {{ consul_disable_keyring_file | bool | lower }}
leave_on_terminate = {{ consul_leave_on_terminate | bool | lower }}
skip_leave_on_interrupt = {{ consul_skip_leave_on_interrupt | bool | lower }}

default_query_time = "{{ consul_default_query_time }}"
max_query_time = "{{ consul_max_query_time }}"
session_ttl_min = "{{ consul_session_ttl_min }}"

raft_snapshot_threshold = {{ consul_raft_snapshot_threshold }}
raft_snapshot_interval = "{{ consul_raft_snapshot_interval }}"
raft_trailing_logs = {{ consul_raft_trailing_logs }}

reconnect_timeout = "{{ consul_reconnect_timeout }}"
reconnect_timeout_wan = "{{ consul_reconnect_timeout_wan }}"

translate_wan_addrs = {{ consul_translate_wan_addrs | bool | lower}}

## ACLs ##
acl {
    enabled = {{ consul_acl_enabled | bool | lower }}
    policy_ttl = "{{ consul_acl_policy_ttl }}"
    role_ttl = "{{ consul_acl_role_ttl }}"
    token_ttl = "{{ consul_acl_token_ttl }}"
    down_policy = "{{ consul_acl_down_policy }}"
    default_policy = "{{ consul_acl_default_policy }}"
    enable_key_list_policy = {{ consul_acl_enable_key_list_policy | bool | lower }}
    enable_token_replication = {{ consul_acl_enable_token_replication | bool | lower }}
    enable_token_persistence = {{ consul_acl_enable_token_persistence | bool | lower }}
    tokens {
{% if consul_acl_tokens_master | length > 0 %}
        master = "{{ consul_acl_tokens_master }}"
{% endif %}
{% if consul_acl_tokens_default | length > 0 %}
        default = "{{ consul_acl_tokens_default }}"
{% endif %}
{% if consul_acl_tokens_agent | length > 0 %}
        agent = "{{ consul_acl_tokens_agent }}"
{% endif %}
{% if consul_acl_tokens_agent_master | length > 0 %}
        agent_master = "{{ consul_acl_tokens_agent_master }}"
{% endif %}
{% if consul_acl_tokens_replication | length > 0 %}
        replication = "{{ consul_acl_tokens_replication }}"
{% endif %}
    }
}

## Autopilot ##
autopilot {
    cleanup_dead_servers = {{ consul_autopilot_cleanup_dead_servers | bool |lower }}
    last_contact_threshold = "{{ consul_autopilot_last_contact_threshold }}"
    max_trailing_logs = {{ consul_autopilot_max_trailing_logs }}
{% if consul_autopilot_min_quorum | length > 0 %}
    min_quorum = "{{ consul_autopilot_min_quorum }}"
{% endif %}
    server_stabilization_time = "{{ consul_autopilot_server_stabilization_time }}"
}

## Cache ##
cache {
    entry_fetch_max_burst = {{ consul_cache_entry_fetch_max_burst }}
{% if consul_cache_entry_fetch_rate | length > 0 %}
    entry_fetch_rate = {{ consul_cache_entry_fetch_rate | float }}
{% endif %}
}

{% if consul_tls_enabled %}
## TLS ##
enable_agent_tls_for_checks = {{ consul_enable_agent_tls_for_checks | bool | lower }}
ca_file = "{{ consul_ca_file }}"
ca_path = "{{ consul_ca_path }}"
cert_file = "{{ consul_cert_file }}"
key_file = "{{ consul_key_file }}"
tls_min_version = "{{ consul_tls_min_version }}"
tls_cipher_suites = "{{ consul_tls_cipher_suites }}"
tls_prefer_server_cipher_suites = {{ consul_tls_prefer_server_cipher_suites | bool | lower }}
verify_incoming = {{ consul_verify_incoming | bool | lower }}
verify_incoming_rpc = {{ consul_verify_incoming_rpc | bool | lower }}
verify_incoming_https = {{ consul_verify_incoming_https | bool | lower }}
verify_outgoing = {{ consul_verify_outgoing | bool | lower }}
verify_server_hostname = {{ consul_verify_outgoing | bool | lower }}
{% endif %}

## Updates ##
disable_anonymous_signature = {{ consul_disable_anonymous_signature | bool | lower }}
disable_update_check = {{ consul_disable_update_check | bool | lower }}

## DNS ##
domain = "{{ consul_domain }}"
{% if consul_recursors | length > 0 %}
recursors = [ {{ consul_recursors | map("to_json") | join(', ') }} ]
{% endif %}
dns_config {
    allow_stale = {{ consul_dns_allow_stale | bool | lower }}
    max_stale = "{{ consul_dns_max_stale }}"
    node_ttl = "{{ consul_dns_node_ttl }}"
{% if consul_dns_service_ttl | length > 0 %}
    service_ttl = {{ consul_dns_service_ttl }}
{% endif %}
    enable_truncate = {{ consul_dns_enable_truncate | bool |lower }}
    only_passing = {{ consul_dns_only_passing | bool | lower }}
    recursor_timeout = "{{ consul_dns_recursor_timeout }}"
    disable_compression = {{ consul_dns_disable_compression | bool | lower }}
{% if consul_dns_a_record_limit | length > 0 %}
    a_record_limit = {{ consul_dns_a_record_limit }}
{% endif %}
    enable_additional_node_meta_txt = {{ consul_dns_enable_additional_node_meta_txt | bool | lower }}
    use_cache = {{ consul_dns_use_cache | bool |lower }}
    cache_max_age = "{{ consul_dns_cache_max_age }}"
    soa {
        expire = {{ consul_dns_soa_expire }}
        min_ttl = {{ consul_dns_soa_min_ttl }}
        refresh = {{ consul_dns_soa_refresh }}
        retry = {{ consul_dns_soa_retry }}
    }
}

## Loging and debug ##
enable_debug = {{ consul_enable_debug | bool | lower }}
enable_syslog = {{ consul_enable_syslog | bool | lower }}
syslog_facility = "{{ consul_syslog_facility }}"

log_file = "{{ consul_log_file }}"
log_rotate_duration = "{{ consul_log_rotate_duration }}"
log_rotate_bytes = {{ consul_log_rotate_bytes }}
log_rotate_max_files = {{ consul_log_rotate_max_files }}
log_level = "{{ consul_log_level }}"
log_json = {{ consul_log_json | bool | lower }}

## HTTP config ##
http_config {
{% if consul_http_block_endpoints | length > 0 %}
    block_endpoints = [ {{ consul_http_block_endpoints | map("to_json") | join(', ') }} ]
{% endif %}
{% if consul_http_allow_write_http_from | length > 0 %}
    allow_write_http_from = [ {{ consul_http_allow_write_http_from | map("to_json") | join(', ') }} ]
{% endif %}
    use_cache = {{ consul_http_use_cache | bool | lower }}
    response_headers {
    {% for key, value in consul_http_response_headers.items() %}
        "{{ key }}" = "{{ value }}"
    {% endfor %}
    }
}

## Limits ##
limits {
    http_max_conns_per_client = {{ consul_limits_http_max_conns_per_client }}
    https_handshake_timeout = "{{ consul_limits_https_handshake_timeout }}"
    rpc_handshake_timeout = "{{ consul_limits_rpc_handshake_timeout }}"
    rpc_max_conns_per_client = {{ consul_limits_rpc_max_conns_per_client }}
{% if consul_limits_rpc_rate | length > 0 %}
    rpc_rate = {{ consul_limits_rpc_rate }}
{% endif %}
    rpc_max_burst = {{ consul_limits_rpc_max_burst }}
    kv_max_value_size = {{ consul_limits_kv_max_value_size }}
    txn_max_req_len = {{ consul_limits_txn_max_req_len }}
}

## Performance ##
performance {
    leave_drain_time = "{{ consul_performance_leave_drain_time }}"
    raft_multiplier = {{ consul_performance_raft_multiplier }}
    rpc_hold_timeout = "{{ consul_performance_rpc_hold_timeout }}"
}

## Ports ##
ports {
    dns = {{ consul_ports_dns }}
    http = {{ consul_ports_http }}
    https = {{ consul_ports_https }}
    grpc = {{ consul_ports_grpc }}
    serf_lan = {{ consul_ports_serf_lan }}
    serf_wan = {{ consul_ports_serf_wan }}
    server = {{ consul_ports_server }}
    sidecar_min_port = {{ consul_ports_sidecar_min_port }}
    sidecar_max_port = {{ consul_ports_sidecar_max_port }}
    expose_min_port = {{ consul_ports_expose_min_port }}
    expose_max_port = {{ consul_ports_expose_max_port }}
}