datacenter = "{{ consul_datacenter }}"

bind_addr = "{{ consul_bind_addr }}"
client_addr = "{{ consul_client_addr }}"


data_dir = "{{ consul_data_dir }}"

## ACLs ##
acl {
    enabled = {{ consul_acl_enabled | bool | lower }}
    policy_ttl = "{{ consul_acl_policy_ttl }}"
    role_ttl = "{{ consul_acl_role_ttl }}"
    token_ttl = "{{ consul_acl_token_ttl }}"
    down_policy = "{{ consul_acl_down_policy }}"
    default_policy = "{{ consul_acl_default_policy }}"
    enable_key_list_policy = "{{ consul_acl_enable_key_list_policy }}"
    enable_token_replication = {{ consul_acl_enable_token_replication | bool | lower }}
    enable_token_persistence = {{ consul_acl_enable_token_persistence | bool | lower }}
    tokens {
{% if consul_acl_tokens_master is defined and consul_acl_tokens_master | length > 0 %}
        master = "{{ consul_acl_tokens_master }}"
{% endif %}
{% if consul_acl_tokens_default is defined and consul_acl_tokens_default | length > 0 %}
        default = "{{ consul_acl_tokens_default }}"
{% endif %}
{% if consul_acl_tokens_agent is defined and consul_acl_tokens_agent | length > 0 %}
        agent = "{{ consul_acl_tokens_agent }}"
{% endif %}
{% if consul_acl_tokens_agent_master is defined and consul_acl_tokens_agent_master | length > 0 %}
        agent_master = "{{ consul_acl_tokens_agent_master }}"
{% endif %}
{% if consul_acl_tokens_replication is defined and consul_acl_tokens_replication | length > 0 %}
        replication = "{{ consul_acl_tokens_replication }}"
{% endif %}
    }
}

## Autopilot ##
autopilot {
    cleanup_dead_servers = {{ consul_autopilot_cleanup_dead_servers | bool |lower }}
    last_contact_threshold = "{{ consul_autopilot_last_contact_threshold }}"
    max_trailing_logs = "{{ consul_autopilot_max_trailing_logs }}"
{% if consul_autopilot_min_quorum is defined and consul_autopilot_min_quorum | length > 0 %}
    min_quorum = "{{ consul_autopilot_min_quorum }}"
{% endif %}
    server_stabilization_time = "{{ consul_autopilot_server_stabilization_time }}"
}

## Cache ##
cache {
    entry_fetch_max_burst = {{ consul_cache_entry_fetch_max_burst }}
    entry_fetch_rate = "{{ consul_cache_entry_fetch_rate }}"
}

check_update_interval = "{{ consul_check_update_interval }}"
disable_host_node_id = {{ consul_disable_host_node_id | bool | lower }}
disable_http_unprintable_char_filter = {{ consul_disable_http_unprintable_char_filter | bool | lower }}
disable_remote_exec = {{ consul_disable_remote_exec | bool | lower }}
discard_check_output = {{ consul_discard_check_output | bool | lower }}
discovery_max_stale = "{{ consul_discovery_max_stale }}"
domain = "{{ consul_domain }}"
enable_agent_tls_for_checks = {{ consul_enable_agent_tls_for_checks | bool | lower }}
enable_local_script_checks = {{ consul_enable_local_script_checks | bool | lower }}

{% if consul_tls_enabled %}
## TLS ##
ca_file = "{{ consul_ca_file }}"
ca_path = "{{ consul_ca_path }}"
cert_file = "{{ consul_cert_file }}"
key_file = "{{ consul_key_file }}"
{% endif %}

{% if consul_encrypt is defined and consul_encrypt | length > 0 %}
encrypt = {{ consul_encrypt }}
{% endif %}
encrypt_verify_incoming = {{ consul_encrypt_verify_incoming | bool | lower }}
encrypt_verify_outgoing = {{ consul_encrypt_verify_outgoing | bool | lower }}
disable_keyring_file = {{ consul_disable_keyring_file | bool | lower }}
leave_on_terminate = {{ consul_leave_on_terminate | bool | lower }}
default_query_time = "{{ consul_default_query_time }}"
max_query_time = "{{ consul_max_query_time }}"
{% if consul_node_id is defined and consul_node_id | length > 0 and not consul_disable_host_node_id %}
node_id = "{{ consul_node_id }}"
{% endif %}
node_name = "{{ consul_node_name }}"
node_meta {
{% for key, value in consul_node_meta.items() %}
    "{{ key }}" = "{{ value }}"
{% endfor %}    
}

## Updates ##
disable_anonymous_signature = {{ consul_disable_anonymous_signature | bool | lower }}
disable_update_check = {{ consul_disable_update_check | bool | lower }}


## DNS ##
dns_config {
    allow_stale = {{ consul_dns_allow_stale | bool | lower }}
    max_stale = "{{ consul_dns_max_stale }}"
    node_ttl = "{{ consul_dns_node_ttl }}"
    service_ttl = "{{ consul_dns_service_ttl }}"
    enable_truncate = {{ consul_dns_enable_truncate | bool |lower }}
    only_passing = {{ consul_dns_only_passing | bool | lower }}
    recursor_timeout = "{{ consul_dns_recursor_timeout }}"
    disable_compression = {{ consul_dns_disable_compression | bool | lower }}
    a_record_limit = "{{ consul_dns_a_record_limit }}"
    enable_additional_node_meta_txt = {{ consul_dns_enable_additional_node_meta_txt | bool | lower }}
    use_cache = {{ consul_dns_use_cache | bool |lower }}
    cache_max_age = "{{ consul_dns_cache_max_age }}"
    soa {
        expire = "{{ consul_dns_soa_expire }}"
        min_ttl = "{{ consul_dns_soa_min_ttl }}"
        refresh = "{{ consul_dns_soa_refresh }}"
        retry = "{{ consul_dns_soa_retry }}"
    }
}

## Loging and debug ##
enable_debug = {{ consul_enable_debug | bool | lower }}
enable_syslog = {{ consul_enable_syslog | bool | lower }}
log_file = "{{ consul_log_file }}"
log_rotate_duration = "{{ consul_log_rotate_duration }}"
log_rotate_bytes = "{{ consul_log_rotate_bytes }}"
log_rotate_max_files = "{{ consul_log_rotate_max_files }}"
log_level = "{{ consul_log_level }}"
log_json = {{ consul_log_json | bool | lower }}


## HTTP config ##
http_config {
    block_endpoints = [ {{ consul_http_block_endpoints | map("to_json") | join(', ') }} ]
    allow_write_http_from = [ {{ consul_http_block_endpoints | map("to_json") | join(', ') }} ]
    use_cache = {{ consul_http_allow_write_http_from | bool | lower }}
    response_headers {
    {% for key, value in consul_http_response_headers.items() %}
        "{{ key }}" = "{{ value }}"
    {% endfor %}
    }
}

## Limits ##
limits {
    http_max_conns_per_client = "{{ consul_limits_http_max_conns_per_client }}"
    https_handshake_timeout = "{{ consul_limits_https_handshake_timeout }}"
    rpc_handshake_timeout = "{{ consul_limits_rpc_handshake_timeout }}"
    rpc_max_conns_per_client = "{{ consul_limits_rpc_max_conns_per_client }}"
    rpc_rate = "{{ consul_limits_rpc_rate }}"
    rpc_max_burst = "{{ consul_limits_rpc_max_burst }}"
    kv_max_value_size = "{{ consul_limits_kv_max_value_size }}"
    txn_max_req_len = "{{ consul_limits_txn_max_req_len }}"
}





{
    "bind_addr": "{{ consul.bind_addr }}",
    "node_name": "{{ consul.node_name }}",
    "server": {% if consul_node_role == 'master' %}true{% else %}false{%endif%},
{% if consul_node_role == 'master' %}
    "bootstrap_expect": {{ consul.bootstrap_expect }},
    "client_addr": "{{ consul.client_address }}",
    "enable_script_checks": {{ consul.enable_script_checks | bool | lower }},
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "domain": "{{ consul.domain }}",
    "rejoin_after_leave": {{ consul.rejoin_after_leave | bool | lower  }},
    "ui": {{ consul.ui | bool | lower  }},
{% endif %}
{% if consul.cors_allowed | bool | lower | default(false) %}
    "http_config": {
        "response_headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "{{ consul.cors_allow_methods }}"
        }
    },
{% endif %}
    "datacenter": "{{ consul.datacenter }}",
    "data_dir": "{{ consul.data_dir }}",
    "enable_syslog": {{ consul.enable_syslog | bool | lower  }},
    "encrypt": "{{ consul.encrypt }}",
    "leave_on_terminate": {{ consul.leave_on_terminate | bool | lower  }},
    "log_level": "{{ consul.log_level }}",
    "disable_update_check": {{ consul.disable_update_check | bool | lower  }},
    "retry_join": [ {% for item in consul.retry_join %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
}